<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="static/main.js"></script>

    <title>Hi!</title>
</head>
<body>
    
<h1>Hello from Render</h1>
{% if name %}
<h2>and hello to {{name}}</h2>
{% endif %}

<form action="/submit" method="post">
    <label for="user">Name</label><br>
    <input type="text", name="name"><br>
    <label for="message">Message</label><br>
    <textarea name="message"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>

{% for item in messages %}
<div>
    <h3>{{item.name}}</h3>
    <div style="white-space-collapse: preserve;">{{item.message}}</div>
</div>
{% endfor %}
</body>
</html>