<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="static/main.js"></script>

    <title>Hi!</title>
</head>
<body>
    
<h1>Hello from Render</h1>

<form method="post">
    <label for="user">Name</label><br>
    <input type="text", id="user", name="name"><br>
    <label for="message">Message</label>
    <input type="text", id="message", name="message"><br>
    <br>
    <button type="button" onclick="Submit()">Submit</button>
</form>

{% if name %}
<h2>and hello to {{name}}</h2>
{% endif %}

</body>
</html>